
h1 {
  text-align: center;
  color: #0a2d4f;
  margin-top: 30px;
}

.cards {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  app-card:last-child {
    margin-right: 0;
  }
  app-card {
    margin-right: 20px;
    display: block;

    h2 {
      font-size: 11px;
      padding: 0;
      margin: 0;
      color: #1f3240;
      margin-bottom: 4px;
    }

    h3 {
      font-size: 11px;
      padding: 0;
      margin: 0;
      color: #696f75;
      margin-bottom: 20px;
    }

    .email {
      font-size: 11px;
      display: block;
      color: #517b9e;
      margin-bottom: 4px;
      text-decoration: none;
    }

    .phone {
      font-size: 11px;
      display: block;
      color: #696f75;
      text-decoration: none;
    }
  }

}
