
h1 {
  text-align: center;
}

.cards {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  app-card:last-child {
    margin-right: 0;
  }
  app-card {
    margin-right: 20px;
    display: block;

    h2 {
      font-size: 11px;
      padding: 0;
      margin: 0;
    }
    h3 {
      font-size: 11px;
      padding: 0;
      margin: 0;
    }
    .email {
      font-size: 11px;
      display: block;
    }
    .phone {
      font-size: 11px;
      display: block;
    }
  }

}
